.site-footer {
    background-color: #1d5668;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;

}

.linkedin-btn {
    display: inline-block;
    background-color: #0077B5; /* LinkedIn color */
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.linkedin-btn:hover {
    background-color: #005f91; /* Darker LinkedIn color on hover */
}

.copy {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    margin-top: 20px;
}

.copy p {
    margin: 10px 0;
    font-size: 14px;
}
