footer{
/*    padding-top: 30px;*/
    background-color: background-image: radial-gradient(
      circle at 52% 84%,
      rgba(194, 194, 194, 0.06) 0%,
      rgba(194, 194, 194, 0.06) 18%,
      transparent 18%,
      transparent 100%
    ),
    radial-gradient(
      circle at 38% 97%,
      rgba(239, 239, 239, 0.06) 0%,
      rgba(239, 239, 239, 0.06) 20%,
      transparent 20%,
      transparent 100%
    ),
    radial-gradient(
      circle at 86% 17%,
      rgba(210, 210, 210, 0.06) 0%,
      rgba(210, 210, 210, 0.06) 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 48%,
      rgba(91, 91, 91, 0.06) 0%,
      rgba(91, 91, 91, 0.06) 27%,
      transparent 27%,
      transparent 100%
    ),
    radial-gradient(
      circle at 27% 63%,
      rgba(86, 86, 86, 0.06) 0%,
      rgba(86, 86, 86, 0.06) 30%,
      transparent 30%,
      transparent 100%
    ),
    radial-gradient(
      circle at 2% 91%,
      rgba(182, 182, 182, 0.06) 0%,
      rgba(182, 182, 182, 0.06) 29%,
      transparent 29%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(203, 171, 120), rgb(227, 87, 5));
    height: 200px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.upper{
    text-align: center;
    background-color: hsl(200, 4%, 16%);
    height: 100px;
    padding: 10px;
}

.upper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* border: 2px solid black; */
    padding: 4px 20px;
    margin: 20px;
    width: 30px;
    border-radius: 5px;
}

/* .upper a:hover{
    margin: 25px;
    font-size: 25px;
    transition: 1s;
} */

#gmail{
    background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

#facebook{
    background-color: #3b5998;
}

#linkedin{
    background: #0e76a8;
}

#github{
    background: #4078c0;
}

.lower{
    text-align: center;
    /* margin-top: 20px; */
    height: 60px;
    padding: 20px;
    background-color: hsl(200, 4%, 16%);
    color: white;
    text-transform: uppercase;
    font-size: small;
}

.lower a{
    color: red;
    /* border: 2px solid red; */
    font-size: 15px;
    margin-left: 3px;
    font-weight: bold;
}

.lower a:hover{
    color: hsl(200, 4%, 16%);
    background-color: red;
}

.two{
    text-indent: 20px;
    margin-top: 30px;
    text-align: left;
}

.contact-us{
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
    color: white;
}