body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 3px auto;
  margin: 80px auto;
  /*    background-color: ;*/
}

.container h1, .head-note {
  text-align: center;
}

hr {
  /*width: 100%;*/
    margin: 10px auto;
    background-color: #000;
}

.form {
    width: 99%;
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}
.form textarea{
        width: 99%;
    }

#notes{
    width: 100%;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  width: 90%;
}

button {
    width: 100%;
  cursor: pointer;
  background-color: #1d5668;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 8px 15px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px){
    .form {
        width: 700px;
        margin: 10px auto;
        padding: 10px;
    }
    .form textarea{
        width: 90%;
    }
    #notes {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin: 10px auto;
    }
    .card {
        width: 170px;
    }
    
    button {
        width: 100px;
        cursor: pointer;
        background-color: #1d5668;
        color: #fff;
        border-radius: 5px;
        border: 1px solid transparent;
        padding: 8px 10px;
        margin-top: 10px;
    }
    hr{
        width: 700px;
        margin: auto;
    }
}

#title,
#main-note {
  margin-top: 10px;
}

button:hover {
  background-color: #1d3d56;
  color: #fff;
}

